<div id="rv-variant-swatches">

{% for variant in product.variants %}

<button
class="rv-swatch"
data-variant-id="{{ variant.id }}"
>
{{ variant.option1 }}
</button>

{% endfor %}

</div>

<link rel="stylesheet" href="{{ 'variant-swatches.css' | asset_url }}">

<script>
window.product = {{ product | json }}
</script>

<script src="{{ 'variant-swatches.js' | asset_url }}" defer></script>

{% schema %}
{
"name": "Variant Swatches",
"target": "section",
"settings": []
}
{% endschema %}